/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

/*
body
{
  background: url('../images/irongrip.png');
}
*/

#siteHeader h1.subheader
{
  color: #2ba6cb;
  font-family: Verdana, Geneva, sans-serif;
}

#showcaseTop, #contentArea
{
  padding: 2em 20px;
}

#showcase
{
  background: #003366;
  background: rgba(0, 96, 168, 0.4);
  background: url('../images/irongrip.png');
}

#showcase h1, #showcase h4
{
  color: #ddd;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

#showcaseTop
{
  background: rgba(0, 96, 168, 0.4);
}

#showcase blockquote
{
    border-left: none;
}

#showcase blockquote p
{
    line-height: 140%;
    font-family: serif;
    font-size: 200%;
    color: #ddd;
}

#showcase blockquote cite
{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 100%;
    color: #bbb;
}

#siteHeader, #contentArea, #siteFooter
{
  background: #DDD;
  background: rgba(245, 245, 245, 0.96);
}


/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */


