/* This file contains custom CSS for the Prestige Worldwide guild website */

/* Orbit slider on main page
   Overridden so that partial content isn't displayed */
#slider { background: center center #f4f4f4; height: 381px; }
#slider div { display: none; }
#slider img { display: none; }

#slider.orbit { background: none; }
#slider.orbit div { display: block; }
#slider.orbit img { display: block; }